body {
    font-family   : Blinker, Comme, Roboto, ABeeZee;
    /* MUSEOMODERNO, COMFORTAA, Blinker, Comme, Roboto, ABeeZee; */
}

.titulo {
    font-weight: bold;
}

.subtitulo {
    font-weight: 100;
    color      : #8f8f8f;
}

.primary {
    background-color: aqua;
}

/* Inseri uma linha abaixo do componente */
.list-divider {
    border-bottom : 2px solid #c2c2c2;
    padding-bottom: 20px;
}

.list-item {
    padding                   : 1rem;
    background                : linear-gradient(#f0f1f3, #f0f1f3);
    margin-bottom             : 0.5rem;
    border-top-left-radius    : 5px;
    border-top-right-radius   : 5px;
    border-bottom-left-radius : 5px;
    border-bottom-right-radius: 5px;
}

/* Define a cor de fundo do elemento range para vermelho */
input[type="range"] {
    background   : #f0f1f3;
    border-radius: 10pt;
    padding      : 0px 10px 0px 10px;
    border       : solid 0.4px #d8d9db;
}

/* Define a cor do botão deslizante para branco */
input[type="range"]::-webkit-slider-thumb {
    background: #131212;
}

input[type="range"]::-moz-range-thumb {
    background: white;
}

/* Cor para a NAVBAR */
.navbarStyle {
    background: linear-gradient(45deg, #3853f0, #111d61);
}