body {
    font-family   : Blinker, Comme, Roboto, ABeeZee, MUSEOMODERNO, COMFORTAA;
    /* font-family: poppins; */
}

.titulo {
    font-weight: bold;
}

.subtitulo {
    font-weight: 100;
    color      : #8f8f8f;
}

.primary {
    background-color: aqua;
}

/* Inseri uma linha abaixo do componente */
.list-divider {
    border-bottom : 2px solid #c2c2c2;
    padding-bottom: 20px;
}


.list-item {
    padding                   : 1rem;
    background                : linear-gradient(#ebecf0, #bdbec0);
    margin-bottom             : 0.5rem;
    border-top-left-radius    : 10px;
    border-top-right-radius   : 10px;
    border-bottom-left-radius : 10px;
    border-bottom-right-radius: 10px;
}

/* Define a cor de fundo do elemento range para vermelho */
input[type="range"] {
    background   : #c2c2c2;
    border-radius: 10pt;
    padding      : 0px 10px 0px 10px;
    border       : solid 1px #a8a7a7;
}

/* Define a cor do botão deslizante para branco */
input[type="range"]::-webkit-slider-thumb {
    background: rgb(31, 31, 31);
}

input[type="range"]::-moz-range-thumb {
    background: white;
}

/* Cor para a NAVBAR */
.navbarStyle {
    background: linear-gradient(45deg, #3853f0, #111d61);
}

/* $theme-colors: ("primary": #111d61,
    "danger": #ff4136); */